@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');

body{
    margin: 0;
}

*{
    scroll-behavior: smooth !important;
}

#main-content{
    background-color: #333 !important;
    overflow-x: hidden;
    font-family: Montserrat;
    border-radius: 16px;
}

.page-header {
    width: 100%;
    height: 600px;
    background-image: url(https://iili.io/50YNEv.png);
    background-size: 120%;
    background-repeat: repeat-y;
    animation: BackgroundMoveHero 30.0s ease-in-out infinite !important;
    text-align: center;
    margin: 0 0 20px 0;
}

@keyframes BackgroundMoveHero{
   0%{background-position: 0% 0%;}
   50%{background-position: 100% 0%;}
   100%{background-position: 0% 0%;}
